body {
    font-family: Arial, sans-serif;
    background-color: #f8f5ef;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 600px 80px;

    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}

.header {
    grid-area: header;
    background-color: #082b4c;
    color: white;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-family: Georgia, serif;
    font-size: 32px;
}

.header p {
    margin-top: 5px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.sidebar {
    grid-area: sidebar;
    background-color: #e8f3f9;
    padding: 40px 30px;
}

.sidebar h3 {
    background-color: #b9dff1;
    padding: 15px;
    border-radius: 5px;
}

.sidebar li {
    padding: 10px;
    font-size: 20px;
}

.main-content {
    grid-area: main;
    color: black;
    background-color: white;
    padding: 50px;
}

.main-content h1 {
    font-family: Georgia, serif;
    color: #1d334d;
    font-size: 40px;
    margin-top: 0;
}

.main-content p {
    font-size: 18px;
    line-height: 2;
}

.main-content img {
    width: 400px;
    height: 300px;
    float: right;
    margin-bottom: 30px;
}

.footer {
    grid-area: footer;
    background-color: #082b4c;
    color: white;
    padding: 20px 40px;
}
